@import './utils/vars';
@import './utils/hidden';
@import './utils/colors';
@import './base/reset';
@import './base/container';
@import './components/btn';
@import './components/logo';
@import './components/socials';
@import './components/line';
@import './components/menu';
@import './components/backdrop';
@import './components/modal-window';
@import './components/checkbox';
@import './components/modal-form';
@import './components/footer-form';
@import './components/mobile-menu';
@import './layout/header';
@import './layout/hero';
@import './layout/main-section';
@import './layout/works';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/projects';




