.header {
border-bottom: 1px solid #ececec;
    // .container {
    // display: flex;
    // }
}
.flex-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list {
display: flex;
}
.header-list__item {
margin-right: 50px;
position: relative;
&:nth-last-child(1) {
    margin-right: 0;
    }
}
.header-right {
display: flex;
margin-left: auto;
align-items: center;
align-content: center;
}
.header-list__link {
display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-title-color);
padding-bottom: 32px;
padding-top: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
    color: var(--acent-color)
    }
}
.header-right__mail {
display: flex;
align-content: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
padding-bottom: 32px;
padding-top: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
color: var(--acent-color);
fill: var(--acent-color);
    }
}
.header-right__icon {
margin-right: 10px;
fill: currentColor;
}
.header-right__tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color);
padding-bottom: 32px;
padding-top: 32px;
display: flex;
align-content: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
color: var(--acent-color);
fill: var(--acent-color);
    }
}   
