.main-section {
    margin: 0;
    padding: 60px 0;
    @media screen and (min-width: 768px) {
      padding: 94px 0;
    }
  }

  .main-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .main-list__item {
    margin: 15px;
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  .main-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    @media screen and (min-width: 767px) {
    text-align: start;
  }
  }

  .main-list__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}
  .main-list__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0px;
  }
  .main-list__icon {
    width: 70px;
    height: 70px;
  }

  // .main-section {
  //   margin: 0;
  //   padding: 94px 0;
  // }