
  .project-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 720px) {
    margin: -15px;
    }
  }
  .project-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 720px) {
      flex-basis: calc(100% / 2 - 30px);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }
  }



  // .project-list > .project-item {
  //   width: calc((100% - 60px) / 3);
  //   margin-right: 30px;
  //   margin-bottom: 30px;
  // }
  // .project-item {
  //   box-sizing: border-box;
  //   &:nth-child(3n) {
  //       margin-right: 0;
  //     }
  //   &:nth-last-child(-n + 3) {
  //       margin-bottom: 0;
  //     }
  // }
  .project-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
  .project-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-top: 0;
    color: var(--main-title-color);
  }
  .project-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 0;
    margin-top: 0;
  }
  .poject-text-block {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  .project-over-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-item:hover & {
    transform: translateY(0%);
      }
}
  .project-overlay {
    position: relative;
    overflow: hidden;
  }