.works-section {
    margin: 0;
    padding-bottom: 94px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex
    }
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
  }
  .works-list__item {
    position: relative;
    margin-right: 30px;
    font-size: 0;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .works-list__text {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
  }
  .works-list__cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
  