.checkbox-form {
    margin-bottom: 30px;
    display: block;
  }
  .checkbox-form__label {
    display: flex;
    align-items: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    cursor: pointer;
    font-size: 12px;
    @media screen and (min-width:1200px) {
      font-size: 14px;
    }
  }
  .checkbox-form__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    &:checked + .checkbox-form__icon-check {
      background-color: var(--acent-color);
      border: none;
  }
  }
  .checkbox-form__icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-title-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border: 2px solid var(--acent-color);
    }
}
  .checkbox-link {
    color: var(--acent-color);
    margin-left: 5px;
  }