.footer-email-form {
    margin-left: auto;
}
.footer-email-form__item {
    color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    padding-top: 12px;
}
.footer-form__input {
    font-size: 16px;
    line-height: 1.25;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
}
.footer-form {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
}
.footer-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--acent-color);
    color: var(--main-color);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 28px 10px 29px;
    line-height: 30px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    &:hover {
        background-color: var(--acent-hover-color);
    }
}

.footer-form__text {
    margin-right: 10px;
}
