.header-logo {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
display: flex;
margin-right: 93px;
color: var(--acent-color);
}
.footer-logo {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
color: var(--acent-color);
margin-bottom: 11px;
}
